* {
  box-sizing: border-box;
  margin: 0;
  text-align: center;
}

header {
  padding: 1rem;
  color: #fff;
  background-image: linear-gradient(120deg, #155799, #159957);
  /*background-image: linear-gradient(120deg, #999, #555);*/
  font-size: 250%;
  font-weight: bold;
}

.title{
  font-size: 250%;
  font-weight: 400;
  color: #fff;
  padding-top: 1rem;
  /*width: 200px;*/
  margin: 0px;
  float: none;
  padding-left: 6rem;
}

.navbar-inverse button.navbar-toggle{
  border-color: white;
  float: right;
  position: relative;
  float: right;
  margin-top: 20px;
}

div.navbar-brand{
  width: auto;
}

nav a, nav a:hover, nav a:visited, nav a:active{
  text-decoration: none;
  color: inherit;
}

nav div{
  margin-left: auto;
  margin-right: auto;
  /*float : none;*/
}

nav h1{
  margin: auto;
  padding: 0px;
  width: auto;
  font-size: 200%;
  font-weight: 400;
}

h2 {
  font-size: 200%;
  font-weight: 400;
}

 .navbar, .navbar-inverse div.navbar-collapse{
  border-radius: 0px;
  border: 0px;
  margin: 0px;
  background-image: linear-gradient(120deg, #155799, #159957);
  border-color: white;
}

ul.nav{
  display: inline-block;
  float:none;
}

.navbar-inverse .navbar-nav li > a{
  color: #ddd;
  font-size: 120%;
}

div.container-fluid ul.nav li.active > a,
div.container-fluid ul.nav li.active > a:hover{
  font-weight: 600;
  background-color: inherit;
  font-size: 125%;
}

p {
  padding: 5px;
  margin: inherit;
  clear: left;
}

label {
  width: 25%;
  text-align: right;
  padding: 2px;

}

fieldset.identite label{
  margin-right: 10px;
  margin-left: 20px;
  float: left;
}

fieldset.identite, fieldset.activite{
  float: none;
}

fieldset {
  width : 50%;
  margin-left: auto;
  margin-right: auto;
  border-width: 2px;
  border-style: groove;
  border-color: threedface;
  padding-bottom: 10px;
}

legend {
  width: auto;
  font-size: 150%;
  padding: 5px;
  border-bottom: 0px;
}

input, textarea{
  width: 50%;
  resize: none;
  border-radius: 5px;
  float: left;
  border-style: inset;
  border-color: #eee;
  border-width: 2px;
}

input.age{
  width: 20%
}

input.bouton {
  clear: left;
  margin: 10px;
  padding: 10px;
  width : 80px;
  float: none;

}

input[type=checkbox] {
  display:none;
}

select.pays {
  float: left;
  text-align: left;
  width: auto;
  border-radius: 10px;
  padding : 2px;
  padding-left: 5px;
}

#doctor + label{
  background: url("Images/doctor.png") no-repeat;
}

#doctor:checked + label {
  background: url("Images/doctor_c.png") no-repeat;
}

#course + label{
  background: url("Images/course.png") no-repeat;
}

#course:checked + label {
  background: url("Images/course_c.png") no-repeat;
}

#info + label{
  background: url("Images/info.png") no-repeat;
}

#info:checked + label{
  background: url("Images/info_c.png") no-repeat;
}

#mediation + label{
  background: url("Images/mediation.png") no-repeat;
}

#mediation:checked + label{
  background: url("Images/mediation_c.png") no-repeat;
}

#repas + label{
  background: url("Images/repas.png") no-repeat;
}

#repas:checked + label{
  background: url("Images/repas_c.png");
}

input[type=checkbox] + label {
  height: 125px;
  width: 100px;
  background-size: 100% !important;
  display:inline-block;
  cursor:pointer;
}
